.solo-center {
    margin: 30px 100%;
    min-width: 100%;
    text-align: center;
}

.Pokedex {
    display: flex;
    justify-content: center;
    margin: 0 20%;
    flex-wrap: wrap;
    gap: 20px;
}

.Pokedex-title {
    /* background-color: blue; */
    color: peachpuff;
}

.Pokedex-total-exp {
    min-width: 200px;
    text-align: center;
}